@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@300&family=Fira+Sans+Condensed:wght@100&family=Nanum+Gothic+Coding&display=swap");

/* font-family: 'Cormorant Infant', serif;
font-family: 'Fira Sans Condensed', sans-serif;
font-family: 'Nanum Gothic Coding', monospace; */

body {
  background-color: black;
  font-family: "Nanum Gothic Coding", monospace;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
  width: 100vw;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-image: url(./images/matrix-style-binary-code-digital-falling-numbers-blue-background_1017-37387.jpg);
}

/* *************************** Color spans*************************** */
.blue {
  color: lightblue;
}
.darkblue {
  color: rgb(32, 86, 148);
}
.orange {
  color: orange;
}
.yellow {
  color: yellow;
}
.green {
  color: rgb(97, 241, 97);
}
.grey {
  color: grey;
}
.violet {
  color: rgb(225, 16, 225);
}
/* ---------------------------MAIN ELEMENTS------------------------------- */
#navbar {
  border-bottom: 3px solid rgba(53, 70, 79, 0.343);
  background-color: rgba(171, 179, 183, 0.096);
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
}

#center {
  position: absolute;
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  top: 80px;
  bottom: 80px;
  overflow-y: auto;
}

#aboutMeContainer {
  position: absolute;
  background-color: rgba(135, 182, 223, 0.096);
  border: 1px solid rgba(96, 4, 182, 0.556);
  display: none;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 80%;
  height: fit-content;
  font-size: 30px;
  opacity: 0;
  left: 3000px;
  top: 30px;
  bottom: 200px;
}

#myList {
  position: absolute;
  color: white;
  background-color: rgba(135, 182, 223, 0.096);
  border: 1px solid rgba(96, 4, 182, 0.556);
  display: none;
  justify-content: space-around;
  gap: 10px;
  align-items: center;
  flex-direction: row;
  box-sizing: border-box;
  width: 90%;
  height: fit-content;
  font-size: 25px;
  opacity: 0;
  left: 3000px;
  overflow: auto;
}

#projectsContainer {
  position: absolute;
  background-color: rgba(135, 182, 223, 0.096);
  border: 1px solid rgba(96, 4, 182, 0.556);
  display: none;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  top: 80px;
  width: 80%;
  font-size: 30px;
  opacity: 0;
  left: 3000px;
}

#bottom {
  border-top: 1px solid rgba(129, 126, 126, 0.32);
  background-color: rgba(16, 16, 16, 0.49);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  height: 60px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

/* *************************** Navbar *************************** */
.barContentClass,
.projectLink {
  color: orange;
  animation: blink 300ms infinite;
}
.barContentClass:hover {
  cursor: pointer;
  color: yellow;
  animation: none;
}
@keyframes blink {
  0%,
  49.9% {
    color: white;
  }
  50%,
  99.9% {
    color: orange;
  }
}
#leftNavbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-weight: bold;
  font-size: 30px;
}
#leftNavList {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

#leftNavItem {
  padding: 0;
  margin: 0;
  margin-left: 20px;
}

#rightNav {
  display: flex;
  margin-right: 0;
  justify-content: center;
  align-items: center;
}

/* --------- about Me - NAV ---------  */

#rightNavContainer {
  margin-right: 10px;
  font-weight: bold;
  font-size: 30px;
  display: flex;
  width: 100%;
}

p {
  height: fit-content;
  margin: 0;
  padding: 0;
  margin-right: 40px;
}

/* *************************** Center *************************** */
h1 {
  margin-top: 30px;
  margin: 0;
  margin-top: 50px;
}

#paragraphTextContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 30px;
}
#centerAboutmeCont {
  line-height: 1.5;
}

/* --------------------- myList ---------------------*/

#eduContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
  padding-left: 10px;
}
/* --------------------- Svhools ---------------------*/
#Education {
  display: flex;
  width: max-content;
  font-size: 17px;
}
#schoolsContainer {
  display: none;
}

#schools {
  margin: 0;
  font-weight: 900;
}
/* --------------------- coding lang ---------------------*/
/* #skillsContainer {
  margin-top: 30px;
} */

#codingContent {
  margin: 0;
}
#codingLanguages {
  font-size: 30px;
}

/* --------------------- courses ---------------------*/
#courses {
  margin-top: 10px;
  font-size: 22px;
}

/* --------------------- projects ---------------------*/

#projectListContainer {
  width: 18%;
  height: 98%;
  font-size: 20px;
  margin-left: 10px;
}

#projectSpace {
  font-size: 15px;
}

#projectList {
  width: 100%;
  list-style: none;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.projectListItem {
  margin-bottom: 5px;
  border: 1px solid white;
}

#projectListItemOrganiser {
  background-color: blueviolet;
}
.projectListItem:hover {
  background-color: rgb(176, 131, 218);
  cursor: pointer;
}

#manicureContainer {
  display: none;
}
#organiserContainer {
  display: block;
}
#projectSpace {
  /* border: 1px solid yellow; */
  width: 78%;
  height: 98%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projectLink {
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.projectDescriptionContent {
  margin-right: 10px;
}
.projectLinkContent {
  margin: 15px;
  padding: 1px;
  border: 1px solid violet;
}

.projectLinkContent:hover {
  background-color: white;
  color: black;
}

/* *************************** Footer *************************** */

#bottomLeft {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

#bottomRight {
  height: 100%;
  font-size: 30px;
  display: flex;
  margin-top: 25px;
  margin-right: 30px;
}

/* --------- Social menu ---------*/

#socialCintainer {
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  height: 100%;
  width: fit-content;
}

/* contact content */
#contact {
  font-size: 30px;
}

#contact:hover {
  cursor: pointer;
  color: rgb(133, 255, 3);
}

.soclialItem {
  opacity: 0;
  display: flex;
  box-sizing: border-box;
  color: white;
}

.socialIcon {
  flex-wrap: wrap;
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1310px) {
  /* ------------- */
  #leftNavbar {
    font-size: 20px;
  }
  #rightNavContainer {
    margin-right: 10px;
    font-size: 20px;
  }
  #navbar {
    height: 60px;
  }
  .socialIcon {
    flex-wrap: wrap;
    width: 30px;
    height: 30px;
  }

  /* ------------- */
  #aboutMeContainer {
    font-size: 20px;
  }

  #myList {
    font-size: 18px;
  }

  #schools {
    font-size: 18px;
  }

  #Education {
    display: flex;
    width: max-content;
    font-size: 17px;
  }

  #codingLanguages {
    font-size: 25px;
  }

  #courses {
    font-size: 18px;
  }

  #contact {
    color: wheat;
    font-size: 25px;
  }
}

@media screen and (max-width: 1000px) {
  /* ------------- */
  #aboutMeContainer {
    font-size: 20px;
  }

  #myList {
    font-size: 18px;
  }

  #projectListContainer {
    font-size: 19px;
  }
  #projectSpace {
    font-size: 14px;
  }
  /* ----------- */

  #schools {
    font-size: 15px;
  }

  #Education {
    display: flex;
    width: max-content;
    font-size: 14px;
  }

  #codingLanguages {
    font-size: 18px;
  }

  #courses {
    font-size: 15px;
  }
}

@media screen and (max-width: 680px) {
  /* ------------- */
  #aboutMeContainer {
    font-size: 18px;
  }

  #myList {
    font-size: 18px;
  }
  .projectListItem {
    margin-right: 10px;
  }
  #projectsContainer {
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
  }

  #projectListContainer {
    width: fit-content;
  }
  #projectList {
    flex-direction: row;
  }

  /* ----------- */

  #schools {
    font-size: 13px;
  }

  #Education {
    display: flex;
    width: max-content;
    font-size: 12px;
  }

  #codingLanguages {
    font-size: 15px;
  }

  #courses {
    font-size: 13px;
  }
}

@media screen and (max-width: 610px) {
  /* ------------- */
  #leftNavbar {
    font-size: 15px;
  }
  #rightNavContainer {
    margin-right: 10px;
    font-size: 15px;
  }
  #navbar {
    height: 60px;
  }

  .soclialItem {
    opacity: 0;
    display: flex;
    box-sizing: border-box;
    color: white;
    margin: 0 20px 0 20px;
    padding: 0;
  }
  .socialIcon {
    flex-wrap: wrap;
    width: 30px;
    height: 30px;
  }

  #contact {
    color: wheat;
    font-size: 17px;
  }

  /* ------------- */
  #eduContainer {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 10px;
    padding-left: 10px;
  }

  #myList {
    width: 80%;
    height: fit-content;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 25px;
    opacity: 0;
    top: 5px;
    left: 3000px;
  }

  #bottom {
    height: 60px;
    width: 100%;
    bottom: 0px;
  }

  #aboutMeContainer {
    font-size: 18px;
  }

  #myList {
    font-size: 15px;
  }

  #schools {
    font-size: 13px;
  }

  #Education {
    display: flex;
    width: max-content;
    font-size: 12px;
  }

  #codingLanguages {
    font-size: 15px;
  }

  #courses {
    font-size: 13px;
  }
}

@media screen and (max-width: 540px) {
  /* ------------- */
  #eduContainer {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
    padding-left: 10px;
  }

  #courses {
    margin: 30px 20px 30px 20px;
    font-size: 22px;
  }

  #myList {
    width: 80%;
    height: fit-content;
    flex-wrap: wrap;
    flex-direction: column;
    opacity: 0;
    top: 5px;
    left: 3000px;
    margin-bottom: 100px;
  }

  #bottom {
    height: 60px;
    width: 100%;
    bottom: 0px;
  }

  #aboutMeContainer {
    font-size: 16px;
    top: 5px;
  }

  #paragraphTextContainer {
    margin: 2px;
  }

  #schools {
    font-size: 13px;
  }

  #Education {
    display: flex;
    width: max-content;
    font-size: 12px;
  }

  #codingLanguages {
    font-size: 13px;
  }

  #courses {
    font-size: 12px;
  }
}

@media screen and (max-width: 450px) {
  #aboutMeContainer {
    font-size: 14px;
    top: 5px;
  }

  /* ------------- */
  #leftNavbar {
    font-size: 15px;
  }
  #rightNavContainer {
    margin-right: 10px;
    font-size: 15px;
  }
  #navbar {
    height: 60px;
  }

  .soclialItem {
    opacity: 0;
    display: flex;
    box-sizing: border-box;
    color: white;
    margin: 0 10px 0 10px;
    padding: 0;
    font-size: 15px;
  }
  .socialIcon {
    flex-wrap: wrap;
    width: 20px;
    height: 20px;
  }

  #contact {
    color: wheat;
    font-size: 17px;
  }

  /* ------------- */
}
